html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

a {
  text-decoration: none;
  color: white;
}
/* visited link */

a:visited {
  text-decoration: none;
  color: white;
}
h1 {
  text-align: left;
  max-width: 350px;
  margin: 20px;
  color: #384B64;
  font-family:'Slabo 27px', serif;
  
}
p {
  text-align: left;
  max-width: 350px;
  margin: 20px;
  padding-right: 30px;
  color: #575B5B;
  font-family:'Slabo 27px', serif;
  line-height: 30px;
}
#header {

  text-align:center;
  font-weight:bold;
  background:#2C4947;
  position:;
  top: 0;
  width: 370px;
  height: 75px;

  font-size: 0px;
  padding: 20px;
}
body {
  
  margin: 0;
}
.img_left {
  
  margin: left;
}

.img_center {
  margin-right: auto;
  margin-left: auto;
}

.nudge_down {
  position: relative;
  top:-7px;
}

footer {

  text-align:center;
  font-weight:bold;
  background:#536463;
  position:;
  bottom: 0;
  width: 370px;
  height: 80px;

  font-size: 0px;
  padding: 20px;
  
}
